# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Virtual Environment
venv/
ENV/

# IDE specific files
.idea/
.vscode/
*.swp
*.swo

# Logs
logs/
*.log

# Data files
data/*.csv
data/*.json
data/*.png

# Operating System
.DS_Store
Thumbs.db